/* Colors */
$mainColor: #050505;
$mainColor00: #05050500;
$mainColor30: #05050530;
$mainColor50: #05050550;
$mainColor75: #05050575;
$secondColor: #25252D;
$secondColor50: #25252D50;
$secondColor80: #25252D80;
$yellow: #FFDEA0;
$yellow30: #FFDEA030;
$yellow50: #FFDEA050;
$yellow75: #FFDEA075;
$white: #fff;
$text: #A19B9B;
$clear: #05050500;
$borderYellow30: 1px solid $yellow30;
$borderYellow50: 1px solid $yellow50;
$borderYellow: 1px solid $yellow;
$red: #FF4545;
$green: #33FF3B;

/* Social colors */
$vk: #4C77A6;
$telegram: #45AEE4;
$instagram: linear-gradient(180.19deg, #7024C4 0.17%, #C21975 41.57%, #C74C4D 70.15%, #E09B3D 99.83%);
$facebook: #3D5A96;
$twitter: #2AA3EF;
$youtube: #F52929;

/* Sizes */
$headerHeight: 50px;
$sidebarMaxWidth: 260px;

/* More settings */
$tr3: all 0.3s ease-in;
$tr5: all 0.5s ease-in;
