/* Colors */
/* Social colors */
/* Sizes */
/* More settings */
/* Colors */
/* Social colors */
/* Sizes */
/* More settings */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #fff;
  font-family: "Proxima Nova", serif;
  font-weight: 400;
  margin: 0;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 7px;
  background-color: #25252D;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.3137254902);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 9em;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #25252D;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in !important;
}
a:hover {
  color: #FFDEA0 !important;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input, textarea, button {
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

p {
  color: #A19B9B !important;
  padding: 0;
  margin: 0;
}

svg * {
  transition: all 0.5s ease-in !important;
}

.app-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 75px 40px 30px 275px;
  overflow: hidden;
}

.auth-container {
  padding: 0 !important;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
